@media screen and (min-width: 992px) {
  .about {
    margin-top: 50px;
    font-size: 20px;
    width: 300px;
    margin-right: 10%;
  }
}

.name {
  font-family: "Cabin";
  font-size: 30px;
}

p {
  color: #353535;
}