$mobile-size: 411px;
$tablet-size: 768px;
$laptop-size: 1366px;
$desktop-size: 1920px; 

@media screen and(max-width: $tablet-size) {
  .intro-pic-container {
    width: 100%;
    border-radius: 10px;
  }

  .intro-pic {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}