.web-projects {
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 125px;
  margin-left: 10%;
  margin-right: 10%;
  // width: 80%;

  padding: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 10px 8px #888888;
  z-index: 1;
}

@media screen and (max-width: 1920px) {
  .web-projects {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1920px) {
  .web-pic {
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
  }

  .web-p {
    width: 80%;
    color: #353535;
  }
}

img:hover {
  cursor: pointer;
}