.web-container {
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  margin-left: 15vw;
  width: 70vw;
  height: auto;
  background-color: white;

  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;

  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.web-pic {
  width: 100%;
}

.web-pic:hover {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.description {
  color:#888888;
  margin-top: 10px;
}

@media screen and (max-width: 1080px) {
  .web-container {
    flex-direction: column;
  }

  p {
    width: 80%;
  }

  .web-pic {
    width: 80%;
  }

  .project-container {
    margin-left: 1px;
  }
}