$mobile-size: 411px;
$tablet-size: 768px;
$laptop-size: 1366px;
$desktop-size: 1920px;

.web-projects-container {
  color: white;
  width: 100%;
}

.web-image:hover {
  cursor: pointer;
}

.projects-title:hover {
  cursor: pointer;
  color: #8C8C8D;
}

.web-image {
  border-radius: 5px;
}

p {
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: $tablet-size) {
  .web-projects-container {
    text-align: center;
  }

  .web-image {
    width: 350px;
  }
}