body {
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://cdn.pixabay.com/photo/2015/04/20/13/17/work-731198_960_720.jpg");

  background-repeat: no-repeat;
  background-size: 100vw 50vh;
}


