@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.container {
  background-color: #191A1D;
  width: 60%;
  height: 850px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  width: 350px;
  height: 380px;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 250px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23515151' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
}

.name {
  font-family: 'Cabin', sans-serif;
  color: #F0F0F0;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 20px;
}

.navigation {
  font-family: 'Cabin', sans-serif;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 16px;
}

.nav-link {
  padding-right: 30px;
  color: #949495;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.underline {
  position: relative;
  bottom: 5px;
  width: 118px;
  height: 2px;
  border-top: 4px solid #240090;
  margin-left: 20px;
}


.intro {
  font-family: 'Cabin', sans-serif;
  width: 350px;
  color: white;
  margin-left: 110px;
  margin-top: 200px;
}

.intro-text {
  color: #8C8C8D;
  line-height: 130%;
  font-size: 20px;
}

.intro-button {
  width: 125px;
  background-color: #3500D3;
  border: none;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  padding: 15px 32px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.contact-icons {
  color: #3500D3;
  margin-top: 130px;
  font-size: 50px; 
  padding-right: 30px;
  cursor: pointer;
}

.contact-icons-two {
  color: #3500D3;
  font-size: 50px; 
  padding-right: 30px;
  cursor: pointer;
}

li {
  display: inline;
}

.projects-container {
  margin: 0 auto;
  width: 1150px;
  text-align: center;
  color: white;
}

.project-image {
  float: left;
  width: 480px;
  height: 270px;
  object-fit: cover;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.game-image {
  float: left;
  width: 320px;
  height: 240px;
  object-fit: cover;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.projects-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-image:hover {
  cursor: pointer;
}

.game-image:hover {
  cursor: pointer;
}

.project-name:hover {
  color: #8C8C8D;
  cursor: pointer;
}

#contact-form {
  margin-top: 30px;
}