@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.top-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 50vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://cdn.pixabay.com/photo/2015/04/20/13/17/work-731198_960_720.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cabin", sans-serif;
  color: white;
  font-size: 20px;
}

.bottom-background {
  width: 100%;
  height: 50vh;
  background-color: white;
}

@media screen and (min-width: 992px) {
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 180px;
    left: 310px;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #888888;
    z-index: 1;
  }

  .profile-pic {
    font-family: "Cabin", sans-serif;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 40%;
    height: auto;
  }
}
