@import "~bootstrap/scss/bootstrap";

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://cdn.pixabay.com/photo/2015/04/20/13/17/work-731198_960_720.jpg");

  background-repeat: no-repeat;
  background-size: 100vw 50vh;
}

.divider {
  background-color: 
  rgba(30, 108, 217, 0.8);
    
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 10px;
  height: 5px;
}

.brand:hover {
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
